* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parallax {
    background-image: url('imagem/ceu.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.efeito {
    background-image: url('imagem/girafa.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}