
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: rgb(24, 24, 24);
    color: aliceblue;
}

p {
    font-family: "DM Serif Text", serif;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
}

header {
    background-color: rgba(0, 0, 255, 0.603);
    border: 1px solid lightblue;
    color: white;
    display: flex;
    margin: -8px -9px -8px -9px;
    padding: 0px 0px 0px 40px;
}

.top {
   margin: auto;
}

.flex {
    margin: 40px 20px 0px 95px;
}

.imagem {
    display: inline-block;
    padding: 10px 10px;
    margin: 40px 40px 0px 20px;
    width: 500px;
    height: 240px;
    background-size: cover;
    background-position: 65% 0%;
    transition: 3.5s;
    position: relative;
    border-radius: 40px;
    cursor: pointer;
}

.acessar {
    text-decoration: none;
    background-color: blue;
    padding: 5px 10px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s ease;
    position: relative;
    bottom: -160px;
    margin: 0px 0px 0px 20px;
}

a{
    text-decoration: none;
    color: white;
}

.acessar:hover {
    text-decoration: none;
    background-color: blue;
    padding: 5px 10px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s ease;
    position: relative;
    bottom: -160px;
    margin: 0px 0px 0px 20px;
    border: 1px solid lightblue;
    transition: 1s;
}