@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
    background-color: #18181b;
    color: white;
}

h1 {
    text-align: center;
    margin: 50px 0px 80px 0px;
    font-family: "DM Serif Text", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
}

iframe {
    border-radius: 10px;
    margin: 0px 380px 0px 380px;
}

p {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.white {
   color: white;
}

.white:hover {
    font-family: "DM Serif Text", serif;
    font-weight: 420;
    font-style: normal;
    font-size: 28px;
    transition: 1.3s;
}

p {
   color: grey;
}

main {
    text-align: center;
}